
<h1>Problem Set Two</h1>

<ol>
  <li><%= link_to("Quotation", ps_two_quotations_path) %></li>
</ol>

<div id="project-resources">
  Resources used:
  <ul>
    <li><a href="http://www.stackoverflow.com">Stackoverflow</a></li>
    <li><a href="http://guides.rubyonrails.org">Rubyonrails Guide</a></li>
  </ul>
</div>
