<html>
<body>
<p>
<ul>
  <%= image_tag("1.jpeg", :style => "width:250px; height:250px;") %>
  <li>Username: Akhil Chennu</li>
  <li>Age: 22</li>
  <li>Occupation: Student,AIT</li>
  <li>Marital status: Unmarried</li>
  <li>Housing situation: Currently living on campus</li>
  <li>Income: 500USD</li>
  <li>Short term goals: To be able to buy cycle of good quality at the best price</li>
  <li>Long time goals: To be able to sell his cycle after graduating  </li>
  <li>Immediate questions: Is this the best price of the cycle? Is it in a proper condition?</li>
  <li>Computer: Dell Inspiron with Windows10 OS </li>
  <li>Other interests: listening to music</li>
</ul>
</p>
</body>
</html>
