<h3>Exercise 1(a)</h3>
<p>People will be able to view different products and can compare its price with other product price of same category and buy them.People can also sell their own products</p>
<h3>Exercise 1(b)</h3>
<p>The website provides all the people in AIT with multiple options regarding the product they desire to purchase.
  People can also negotiate the product price. </p>
<h3>Exercise 1(c)</h3>
<p>Users : who can buy or sell products</p>
<p>Administrators: administrates the platform</p>
<h3>Exercise 1(d)</h3>
<p>Smartphone specific functionality implementation is not being considered currently.The developed website can be accessed through the browser in smartphone.
</p>
<h3>Exercise 2</h3>
<p>User Profiles </p>
<%= link_to 'Akhil Chennu', ps_three_planning_akhil_path%>
<br>
<%= link_to 'Sainath reddy', ps_three_planning_sainath_path%>
<br>
<%= link_to 'Rajesh Ve', ps_three_planning_rajesh_path%>
<br>
<h3>Exercise 3</h3>
<p>Scenario:
  The user has to sign up with the required credentials and view the products of different categories.The users can buy and sell products easily.The user who wants to sell a product has to upload the picture of the product with description of product such as price,number of days product has been used,condition of the product and contact details.The user who wants to buy the product can compare the description of the product with other in the same category and can select the one  between many products.after selection , the user can contact the seller with the provided contact details.
</p>
<br>
<h3>Exercise 4</h3>
<p>The main  reason for building this system is there is no proper well maintained system for people in AIT to buy and sell products.People in AIT have to communicate in between them to sell and buy products.In this case many people prooducts will be left out and people who need a product can’t know that is is available in the university due to lack of information and this person who needs it faces a problem.
</p>

<h3>Exercise 5</h3>
There is an online alternative. It is a facebook group where students post goods/products that they want to sell. Normally they sell things before leaving the college or something they bought and later got no use of it.

Now, considering the six elements of sustainability:<br>
<p>
Magnet Content: Buyers have difficulty finding the right product they want to buy and sellers struggle to find the right buyer. We aim to solve this problem. Thus we get the users (students in ait) that are facing this problem (difficulty in selling their belongings like used books etc.) on daily basis.
</p>
<p>
Collaboration: Here students are both buyers and sellers. Hence, there will be a kind of community where students will be helping each others. For example, by buying second hand items, buyers get items in low price while seller get some salvage value.
</p>
<p>
Searching and Browsing Capability: Our website will have various filters that will help users to search and browse for their desired products easily.
</p>
<p>
Delegated Moderation: We can add user roles administrator and regular members. Administrators are supposed to look out for bad behaviour.
</p>
<p>
Removing bozos: There are bad/annoying people everywhere. There will be a method to ban users that misbehave with others and/or post spams.
</p>

<h3>Exercise 6</h3>
<p>
The magnet content will come from the users.
</p>
<h3>Exercise 7</h3>
<p>
We’re thinking the hostname should be www.sastokart.com  (just a name I came up with). I was thinking about getting a free rails server like that by heroku
</p>
<h3>Exercise 8</h3>
<p>
I think it should have a copyright
</p>