<html>
<body>
<p>
<ul>
  <%= image_tag("3.jpg", :style => "width:250px; height:250px;") %>
  <li>Username: Rajesh Ve</li>
  <li>Age: 31</li>
  <li>Occupation: Lab incharge</li>
  <li>Marital status: Married</li>
  <li>Housing situation: Currently living on campus</li>
  <li>Income: 2000USD</li>
  <li>Short term goals: To buy microwaveoven which is proper condition and sell electric cooker</li>
  <li>Long time goals: To sell his products whenever he wants to</li>
  <li>Immediate questions: how can i know currently who sells microwaveoven ?</li>
  <li>Computer: DELLXPS with Windows8 OS</li>
  <li>Other interests: Reading books</li>
</ul>
</p>
</body>
</html>