<html>
<body>
<p>
<ul>
  <%= image_tag("2.jpg", :style => "width:250px; height:250px;") %>
  <li>Username: Sainath Reddy</li>
  <li>Age: 21</li>
  <li>Occupation: SU President,AIT</li>
  <li>Marital status: Unmarried</li>
  <li>Housing situation: Currently living on campus</li>
  <li>Income: 1000USD</li>
  <li>Short term goals: To be able to sell air conditioner </li>
  <li>Long time goals: To be able to sell his air conditioner before he leaves AIT</li>
  <li>Immediate questions: How can I contact the person who is interested to buy the product?</li>
  <li>Computer: Lenovo Y50 with Ubuntu16.04 OS</li>
  <li>Other interests: Playing football </li>
</ul>
</p>
</body>
</html>