<h1>Administration</h1>

<a>User Manager</a>

<h3>User Statistics</h3>
<div>
  <dl>
    <dt>Total Registered Users:</dt>
    <dd>100</dd>
    <dt>No. of users logged in this week:</dt>
    <dd>5</dd>
    <dt>No. of users logged in this month:</dt>
    <dd>10</dd>

  </dl>
</div>

<h3>Recently Registered Users</h3>
<table class="table" id="recently-registered-users">
  <thead>
    <tr>
      <th>Email</th>
      <th>Registered Date</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>