<h1>PsSix - Feedback from potential client/user</h1>

<h4>Reviewer: April (AIT Student, and hence potential user)</h4>

Feedbacks:
<ol>
  <li>Position of signup. (SignUp/Login and its icon before and after signup should be different) </li>
  <li>Need a way to add category</li>
  <li>Add tooltip/any helper in "standard cost" field</li>
  <li>Quantity sold not required</li>
  <li>Add seller's description and contact</li>
  <li>Add a way to email / message the seller</li>
  <li>Add a way to contact admin if the seller isn't available or if the user has problem with something in the website</li>
  <li>Ability to search and filter using category</li>
  <li>Don't show error in Production</li>
  <li>Fix overflow in description</li>
  <li>Add Baht symbol in selling price, standard cost and unit in weight</li>
</ol>

<hr>

<h3>My Action Plan</h3>
<ol>
  <li>I will consult some of my creative friends to help me better organise signup icon and views</li>
  <li>I will add a feature to add category</li>
  <li>A helper will be added shortly</li>
  <li>That field will be removed</li>
  <li>Seller's description and contact will be provided if the seller provides their information.
    I will try to add this feature</li>
  <li>I will try to implement email / messaging service if time permits</li>
  <li>Maybe I should create a feedback or faq or help page in the website</li>
  <li>I will add search and filter option</li>
  <li>I will fix the production configuration to now show any errors</li>
  <li>I will fix the css of the div to control overflow</li>
  <li>I will add the respective symbols and units.</li>
</ol>