<h1>PsSix - Feedback From Web 14</h1>

<%= image_tag 'arun_review.png' %>
<hr>

<div>
<h3>My Action Plan</h3>
  <ol>
    <li>I will add a feature where admin can delete/edit comments.</li>
    <li>I will also add ability to delete items.</li>
  </ol>
</div>