<h1>PsSix - Feedback From Web 17</h1>

<%= image_tag 'sathwik_review.png' %>
<hr>

<div>
  <h3>My Action Plan</h3>
  <ol>
    <li>I'll add a link that shows there are more comments so that user can click on it and see it on detail page</li>
    <li>I'll add ordering (latest first)</li>
    <li>I'll modify the system such that sold item does not come up unless specified.</li>
    <li>I'll add a helper/tooltip for users to convey the message properly</li>
  </ol>
</div>