<h1>PsSix - Review of Web 11</h1>

<h4>The website is about carpooling, i.e. people helping each other travel to some common destination.</h4>
Reviews:
<ol>
  <li>User role (Passenger and Driver) is a bit confusing. Maybe use better words, add tooltip and popover
    or separate their roles such that it won't be confusing for a new user.
  </li>
  <li>Should Rename Province to Destination. Its a bit unclear.</li>
  <li>When editing the form, it will be better if previous form field values are already populated.
    It will be much more user friendly.
  </li>
  <li>As the inbox shows all incoming as well as outgoing messages maybe it should be called as messages or conversation.</li>
  <li>Date validation is not present in the form. Date validation = format of date + user should not be able to enter
    past date (yesterday and before)
  </li>
  <li>When searching for a ride, even posts that are outdated show up. Outdated = Ride requests dated yesterday should
    not come today.
  </li>
</ol>


