<h1>PsSix - Review of Web 10</h1>

<p>My interests: Gym, Soccer, Swimming</p>
<ol>

  <li>I like the current version! The layout can be improved tho:</li>
  <li>Expand the user profile with age, interests and show his posts</li>
  <li>Improve the calendar to show time string "1PM", "1PM-2PM"</li>
  <li>The forum should show which user has posted it</li>
  <li>The forum should cascade the comments</li>
  <li>Booking could show some more information like why it has been booked</li>
  <li>Requests should onl be visible to user and admin, not anyone else</li>
  <li>My bookings: Show which ground was requested/booked by user1</li>
  <li>A cool advanced feature would be some kind of search on the forum</li>

</ol>
